Package: com.ludvigeriksson.timeuntilalarm
Name: TimeUntilAlarm
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Shows the time remaining until the alarms go off
Maintainer: Ludvig Eriksson
Author: Ludvig Eriksson
Section: Tweaks
Version: 1.1.8
Installed-Size: 504
