<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<!-- HEADER GROUP -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>TimeUntilAlarmSettingsHeaderCell</string>
		</dict>

		<!-- CLOCK GROUP -->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CLOCK_APP</string>
		</dict>

		<!-- Enable -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUAEnableInClockApp</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Hide for inactive alarms (Previously 'Enable for active alarms only') -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUAEnableForActiveAlarmsOnly</string>
			<key>label</key>
			<string>HIDE_FOR_INACTIVE_ALARMS</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Font size -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUAClockAppFontSize</string>
			<key>label</key>
			<string>FONT_SIZE</string>
			<key>validTitles</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
			<key>validValues</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
			<key>default</key>
			<string>17</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Time format -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUAClockAppTimeFormat</string>
			<key>label</key>
			<string>TIME_FORMAT</string>
			<key>validTitles</key>
			<array>
				<string>9H_41M</string>
				<string>9HRS_41MINS</string>
				<string>9_HOURS_41_MINUTES</string>
				<string>9:41</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Position -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUAClockAppPosition</string>
			<key>label</key>
			<string>POSITION</string>
			<key>validTitles</key>
			<array>
				<string>ABOVE_SWITCH</string>
				<string>UNDER_SWITCH</string>
				<string>AFTER_TEXT</string>
				<string>REPLACE_TEXT</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- LOCK SCREEN GROUP -->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LOCK_SCREEN</string>
		</dict>

		<!-- Enable -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUAShowNextActiveAlarmOnLockScreen</string>
			<key>label</key>
			<string>ENABLE</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Font size -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUALockScreenFontSize</string>
			<key>label</key>
			<string>FONT_SIZE</string>
			<key>validTitles</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
			<key>validValues</key>
			<array>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
			</array>
			<key>default</key>
			<string>17</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Time format -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUALockScreenTimeFormat</string>
			<key>label</key>
			<string>TIME_FORMAT</string>
			<key>validTitles</key>
			<array>
				<string>9H_41M</string>
				<string>9HRS_41MINS</string>
				<string>9_HOURS_41_MINUTES</string>
				<string>9:41</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Position -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>POSITION</string>
			<key>detail</key>
			<string>TUALockScreenPositionListController</string>
		</dict>

		<!-- Hide if -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TUAHideOnLockScreenIf</string>
			<key>label</key>
			<string>HIDE_IF</string>
			<key>validTitles</key>
			<array>
				<string>NEVER</string>
				<string>> 4h</string>
				<string>> 8h</string>
				<string>> 12h</string>
				<string>> 24h</string>
				<string>> 48h</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>4</string>
				<string>8</string>
				<string>12</string>
				<string>24</string>
				<string>48</string>
			</array>
			<key>default</key>
			<string>24</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Hide when music is playing -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUAHideOnLockScreenWhenMusicIsPlaying</string>
			<key>label</key>
			<string>HIDE_WHEN_MUSIC_IS_PLAYING</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Hide when navigating -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUAHideOnLockScreenWhenNavigating</string>
			<key>label</key>
			<string>HIDE_WHEN_NAVIGATING</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- Time type -->
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs</string>
			<key>key</key>
			<string>TUALockScreenTimeType</string>
			<key>validTitles</key>
			<array>
				<string>TIME_UNTIL_ALARM</string>
				<string>ALARM_TIME</string>
				<string>BOTH</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.ludvigeriksson.timeuntilalarmprefs/settingschanged</string>
		</dict>

		<!-- DEVELOPER GROUP -->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER</string>
			<key>footerText</key>
			<string>TimeUntilAlarm is free and open source. If you like it, you can buy me a beer using the donation links above to encourage continued development of this and other tweaks.

Thanks to icon creators Pham Thi Dieu Linh, AFY Studio and Bernar Novalyi from The Noun Project (CC).
			</string>
		</dict>

		<!-- Visit website -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>VISIT_WEBSITE</string>
			<key>action</key>
			<string>openWebsite</string>
			<key>icon</key>
			<string>WebsiteIcon.png</string>
		</dict>

		<!-- Contact -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CONTACT</string>
			<key>action</key>
			<string>contact</string>
			<key>icon</key>
			<string>MailIcon.png</string>
		</dict>

		<!-- View source code -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>VIEW_SOURCE_CODE</string>
			<key>action</key>
			<string>viewSourceCode</string>
			<key>icon</key>
			<string>CodeIcon</string>
		</dict>

		<!-- Donate via PayPal -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DONATE_PAYPAL</string>
			<key>action</key>
			<string>donatePayPal</string>
			<key>icon</key>
			<string>PayPalIcon.png</string>
		</dict>

		<!-- Donate Bitcoin -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DONATE_BITCOIN</string>
			<key>action</key>
			<string>donateBitcoin</string>
			<key>icon</key>
			<string>BitcoinIcon.png</string>
		</dict>

		<!-- Translations -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TRANSLATIONS</string>
			<key>icon</key>
			<string>TranslationIcon</string>
			<key>detail</key>
			<string>TUATranslationsListController</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
